<script type="text/javascript">

    jQuery("#searchButton").click(function () {
        var $nid = jQuery('#nid').val();
        var $brn = jQuery('#brn').val();
        var $uid = jQuery('#uid').val();
        var $givenName = jQuery('#given_name').val();
        var $surName = jQuery('#sur_name').val();
        var $division = jQuery('#division').val();
        var $district = jQuery('#district').val();
        var $upazilla = jQuery('#upazilla').val();

        if($nid == '' && $brn == '' && $uid == '' && $givenName == '' && $surName == '' && $division == ''  ){
            jQuery('.fillOne').show();
            jQuery('.selectlocation').hide();
            jQuery('.systeError').hide();
            return false;
        }else{
            jQuery('.fillOne').hide();
        }

        if ($surName != '' || $givenName != '' || $division != '') {

            if ($division == '' || $district == '' || $upazilla == '') {
                jQuery('.selectlocation').show();
                jQuery('.systeError').hide();
                return false;
            }else {
                jQuery('.selectlocation').hide();
            }
        }

        jQuery("#searchPatientForm").validate(
                {
                    rules: {
                        nid: {
                            number: true,
                            minlength: 13,
                            maxlength: 17
                        },
                        brn: {
                            number: true,
                            minlength: 17
                        },
                        uid: {
                            minlength: 11
                        }
                    },
                    messages: {
                        nid:{
                            number:"Please enter  numbers"
                        },
                        brn:{
                            number:"Please enter numbers"
                        }
                    }
                }
        );

        jQuery("#searchPatientForm").submit();
    });

$("#searchHidButton").click(function(){
    $hid = $(".hid").val();

    if($hid){
        $("#searchHidForm").submit();
    }
});


$('#division').on('change', function () {
    var divisionId = $('option:selected', this).attr('data-id');
    var x = $('#district');

    if(divisionId){
        x.removeAttr('disabled');
    }else{
        x.attr('disabled','disabled');
        $('#upazilla').attr('disabled','disabled');
    }

    if(divisionId){
        x.empty();
        $.ajax({
            type: "POST",
            url: "/location/district/"+divisionId,
            beforeSend: function() { $('.districtloader').show(); },

            success: function (result) {
                var obj = $.parseJSON(result);
                var options = "<option value=''>-Please Select-</option>";

                for (var i in obj) {
                    options += '<option data-id = "' + obj[i]['id'] + '" value="' + obj[i]['code'] + '">' + obj[i]['name'] + '</option>';
                }
                x.append(options);
            },
            complete: function() { $('.districtloader').hide(); }
        });
  }
});

$('#district').on('change', function () {
    var districtId = $('option:selected', this).attr('data-id');
    var x = $('#upazilla');
    if(districtId){
        x.removeAttr('disabled');
    }

    if(districtId){
        x.empty();

        $.ajax({
            type: "POST",
            url: "/location/upazilla/"+districtId,
            beforeSend: function() { $('.upazillaloader').show(); },
            success: function (result) {
                var obj = $.parseJSON(result);
                var options = "<option value=''>-Please Select-</option>";

                for (var i in obj) {
                    options += '<option data-id = "' + obj[i]['id'] + '" value="' + obj[i]['code'] + '">' + obj[i]['name'] + '</option>';
                }
                x.append(options);
            },
            complete: function() { $('.upazillaloader').hide(); }
        });
  }
});

</script>
