<style type="text/css">
    input.error{
        color: #555 !important;
        font-style: normal;
    }
</style>

<script type="text/javascript">

    jQuery("#searchButton").click(function () {


        jQuery.validator.addMethod(
                "location",
                function(number, element) {
                    var $givenName = jQuery('#given_name').val();
                    var $surName = jQuery('#sur_name').val();
                    var $division = jQuery('#division').val();
                    var $district = jQuery('#district').val();
                    var $upazilla = jQuery('#upazilla').val();
                    var $phoneNo = jQuery('#phone_no').val();

                    if ($surName != '' || $givenName != '' || $division != '' || $phoneNo != '') {

                        if ($division == '' || $district == '' || $upazilla == '') {

                            if($division != ''  && $district == '' && $upazilla == '' ){

                                jQuery('.selectlocation').html('Please select district and upazilla');
                            }

                            if($division != ''  && $district != '' && $upazilla == '' ){
                                jQuery('.selectlocation').html('Please select  upazilla');
                            }

                            if($division != '' && $district == '' && $upazilla != '' ){
                                jQuery('.selectlocation').html('Please select  district');
                            }

                            jQuery('.selectlocation').show();
                            jQuery('.phoneNoError').hide();
                            jQuery('.systeError').hide();

                            return false;
                        }else {
                            jQuery('.selectlocation').hide();
                            return true;
                        }
                    }

                },
                " "
        );

        jQuery.validator.addMethod(
                "phone",
                function(number, element) {
                    var $phoneNo = jQuery('#phone_no').val();
                    var $areaCode = jQuery('#area_code').val();
                    var $extension = jQuery('#extension').val();
                    var $countryCode = jQuery('#country_code').val();

                    if(($areaCode || $extension || $countryCode) && $phoneNo == ''  ){
                        jQuery('.phoneNoError').show();
                        jQuery('.selectlocation').hide();
                        jQuery('.fillOne').hide();
                        jQuery('.systeError').hide();
                        return false;
                    }else{
                        return true;
                    }
                },
                " "
        );

        jQuery.validator.addMethod(
                "atleastOne",
                function(number, element) {

                    var $nid = jQuery('#nid').val();
                    var $brn = jQuery('#brn').val();
                    var $uid = jQuery('#uid').val();
                    var $givenName = jQuery('#given_name').val();
                    var $surName = jQuery('#sur_name').val();
                    var $division = jQuery('#division').val();
                    var $phoneNo = jQuery('#phone_no').val();

                    if($nid == '' && $brn == '' && $uid == '' && $givenName == '' && $surName == '' && $division == '' && $phoneNo == ''  ){
                        jQuery('.fillOne').show();
                        jQuery('.phoneNoError').hide();
                        jQuery('.selectlocation').hide();
                        jQuery('.systeError').hide();
                        return false;
                    }else{
                        jQuery('.fillOne').hide();
                        return true;
                    }
                },
                " "
        );

        jQuery.validator.addMethod("exact17lengthNumber", function(value, element, param) {
            return this.optional(element) || /^[0-9]{17}$/.test(value.replace(/\s/g, ''));
        }, $.validator.format("Please enter exactly 17 numbers."));

        jQuery.validator.addMethod("exact11lengthNumber", function(value, element, param) {
            return this.optional(element) || /^[a-zA-Z0-9]{11}$/.test(value.replace(/\s/g, ''));
        }, $.validator.format("Please enter exactly 11 characters."));

        jQuery.validator.addMethod("digitWithoutAnyCharacter", function(value, element, param) {
            return this.optional(element) || /^\s*\d+\s*$/.test(value);
        }, $.validator.format("Please enter numbers except symbols."));


        jQuery.validator.addMethod("CharacterWithoutAnySpecialCharacter", function(value, element, param) {
            return this.optional(element) || /^\s*[a-zA-Z0-9]*\s*$/.test(value);
        }, $.validator.format("Please enter alphanumeric characters."));

        jQuery.validator.addMethod("phoneNumber", function(value, element, param) {
            return this.optional(element) || /^[0-9]{1,12}$/.test(value.replace(/\s/g, ''));
        }, $.validator.format("Please enter maximum 12 digits."));

        jQuery.validator.addMethod("givenName", function(value, element, param) {
            return this.optional(element) || /^[a-zA-Z0-9]{1,100}$/.test(value.replace(/\s/g, ''));
        }, $.validator.format("Please enter maximum 100 characters."));

        jQuery.validator.addMethod("surName", function(value, element) {
            return this.optional(element) || /^[a-zA-Z0-9]{1,25}$/.test(value.replace(/\s/g, ''));
        }, $.validator.format("Please enter maximum 25 characters."));

        jQuery.validator.addMethod(
                "nationalId",
                function(number, element) {
                    return this.optional(element) || /^([\d]{13}|[\d]{17})$/.test(number.replace(/\s/g, ''));
                },
                "Please enter exactly 13 or 17 numbers"
        );

        jQuery.validator.addMethod(
                "onlyNumber",
                function(number, element) {
                    return this.optional(element) || /^[0-9]*$/.test(number.replace(/\s/g, ''));
                },
                "Please enter numbers"
        );

        jQuery.validator.addMethod(
                "alphaNumeric",
                function(number, element) {
                    return this.optional(element) || /^[a-zA-Z0-9]*$/.test(number.replace(/\s/g, ''));
                },
                "Please enter numbers only"
        );


        var validator = jQuery("#searchPatientForm").validate(
                {
                    rules: {
                        nid: {
                            atleastOne:true,
                            digitWithoutAnyCharacter:true,
                            nationalId: true
                        },
                        brn: {
                            atleastOne:true,
                            digitWithoutAnyCharacter:true,
                            exact17lengthNumber: true
                        },
                        uid: {
                            atleastOne:true,
                            CharacterWithoutAnySpecialCharacter:true,
                            exact11lengthNumber: true
                        },

                        phone_no: {
                            atleastOne:true,
                            digitWithoutAnyCharacter:true,
                            phoneNumber: 12,
                            location: true

                        },
                        area_code: {
                            digitWithoutAnyCharacter:true,
                            onlyNumber: true,
                            phone: true
                        },
                        country_code: {
                            digitWithoutAnyCharacter:true,
                            onlyNumber: true,
                            phone: true
                        },
                        extension: {
                            digitWithoutAnyCharacter:true,
                            onlyNumber: true,
                            phone: true
                        },
                        given_name: {
                            atleastOne:true,
                            givenName: true,
                            location: true

                        },
                        sur_name: {
                            atleastOne:true,
                            surName: true,
                            location: true

                        }
                    },
                    messages: {

                        brn:{
                            number:"Please enter numbers",
                            exactlength: "Please enter exactly 17 characters"
                        }
                    },
                    focusInvalid: false
                }
        );

        jQuery("#searchPatientForm").submit();
    });


$('#division').on('change', function () {
    var divisionId = $('option:selected', this).attr('data-id');
    var x = $('#district');

    if(divisionId){
        x.removeAttr('disabled');
    }else{
        x.attr('disabled','disabled');
        $('#upazilla').attr('disabled','disabled');
    }

    if(divisionId){
        x.empty();
        $.ajax({
            type: "POST",
            url: "/location/district/"+divisionId,
            beforeSend: function() { $('.districtloader').show(); },

            success: function (result) {
                var obj = $.parseJSON(result);
                var options = "<option value=''>-Please Select-</option>";

                for (var i in obj) {
                    options += '<option data-id = "' + obj[i]['id'] + '" value="' + obj[i]['code'] + '">' + obj[i]['name'] + '</option>';
                }
                x.append(options);
            },
            complete: function() { $('.districtloader').hide(); }
        });
  }
});

$('#district').on('change', function () {
    var districtId = $('option:selected', this).attr('data-id');
    var x = $('#upazilla');
    if(districtId){
        x.removeAttr('disabled');
    }

    if(districtId){
        x.empty();

        $.ajax({
            type: "POST",
            url: "/location/upazilla/"+districtId,
            beforeSend: function() { $('.upazillaloader').show(); },
            success: function (result) {
                var obj = $.parseJSON(result);
                var options = "<option value=''>-Please Select-</option>";

                for (var i in obj) {
                    options += '<option data-id = "' + obj[i]['id'] + '" value="' + obj[i]['code'] + '">' + obj[i]['name'] + '</option>';
                }
                x.append(options);
            },
            complete: function() { $('.upazillaloader').hide(); }
        });
  }
});

</script>
