<script type="text/javascript">

    jQuery("#searchButton").click(function () {
        var $nid = jQuery('#nid').val();
        var $brn = jQuery('#brn').val();
        var $uid = jQuery('#uid').val();
        var $givenName = jQuery('#given_name').val();
        var $surName = jQuery('#sur_name').val();
        var $division = jQuery('#division').val();
        var $district = jQuery('#district').val();
        var $upazilla = jQuery('#upazilla').val();
        var $phoneNo = jQuery('#phone_no').val();
        var $areaCode = jQuery('#area_code').val();
        var $extension = jQuery('#extension').val();
        var $countryCode = jQuery('#country_code').val();

        if(($areaCode || $extension || $countryCode) && $phoneNo == ''  ){
            jQuery('.phoneNoError').show();
            jQuery('.selectlocation').hide();
            jQuery('.fillOne').hide();
            jQuery('.systeError').hide();
            return false;
        }

        if($nid == '' && $brn == '' && $uid == '' && $givenName == '' && $surName == '' && $division == '' && $phoneNo == ''  ){
            jQuery('.fillOne').show();
            jQuery('.phoneNoError').hide();
            jQuery('.selectlocation').hide();
            jQuery('.systeError').hide();
            return false;
        }else{
            jQuery('.fillOne').hide();
        }

        if ($surName != '' || $givenName != '' || $division != '' || $phoneNo != '') {

            if ($division == '' || $district == '' || $upazilla == '') {

                if($division != ''  && $district == '' && $upazilla == '' ){

                    jQuery('.selectlocation').html('Please select district and upazilla')
                }

                if($division != ''  && $district != '' && $upazilla == '' ){
                    jQuery('.selectlocation').html('Please select  upazilla')
                }

                if($division != '' && $district == '' && $upazilla != '' ){
                    jQuery('.selectlocation').html('Please select  district')
                }

                jQuery('.selectlocation').show();
                jQuery('.phoneNoError').hide();
                jQuery('.systeError').hide();
                return false;
            }else {
                jQuery('.selectlocation').hide();
            }
        }

        jQuery.validator.addMethod("exactlengthNumber", function(value, element, param) {
            return this.optional(element) || /^[0-9]{param}$/.test(value.replace(/\s/g, ''));
        }, $.validator.format("Please enter exactly {0} numbers."));

        jQuery.validator.addMethod("exactlengthCharacter", function(value, element, param) {
            return this.optional(element) || /^[a-zA-Z0-9]{param}$/.test(value.replace(/\s/g, ''));
        }, $.validator.format("Please enter exactly {0} characters."));

        jQuery.validator.addMethod("phoneNumber", function(value, element, param) {
            return this.optional(element) || /^[0-9]{1,12}$/.test(value.replace(/\s/g, ''));
        }, $.validator.format("Please enter maximum 12 digits."));

        jQuery.validator.addMethod("givenName", function(value, element, param) {
            return this.optional(element) || /^[a-zA-Z0-9]{1,100}$/.test(value.replace(/\s/g, ''));
        }, $.validator.format("Please enter maximum 100 characters."));

        jQuery.validator.addMethod("surName", function(value, element) {
            return this.optional(element) || /^[a-zA-Z0-9]{1,25}$/.test(value.replace(/\s/g, ''));
        }, $.validator.format("Please enter maximum 25 characters."));


        jQuery.validator.addMethod(
                "nationalId",
                function(number, element) {
                    return this.optional(element) || /^[0-9]{13,17}$/.test(number.replace(/\s/g, ''));
                },
                "Please enter  13 or 17 numbers only"
        );

        jQuery.validator.addMethod(
                "onlyNumber",
                function(number, element) {
                    return this.optional(element) || /^[0-9]*$/.test(number.replace(/\s/g, ''));
                },
                "Please enter numbers"
        );

        jQuery.validator.addMethod(
                "alphaNumeric",
                function(number, element) {
                    return this.optional(element) || /^[a-zA-Z0-9]*$/.test(number.replace(/\s/g, ''));
                },
                "Please enter numbers only"
        );

        jQuery("#searchPatientForm").validate(
                {
                    rules: {
                        nid: {
                            nationalId: true
                        },
                        brn: {
                            exactlengthNumber: 17
                        },
                        uid: {
                            exactlengthCharacter: 11
                        },

                        phone_no: {
                            phoneNumber: 12
                        },
                        area_code: {
                            onlyNumber: true
                        },
                        country_code: {
                            onlyNumber: true
                        },
                        extension: {
                            onlyNumber: true
                        },
                        given_name: {
                            givenName: true
                        },
                        sur_name: {
                            surName: true
                        }
                    },
                    messages: {
                        nid:{
                            number:"Please enter  numbers",
                            minlength:"Please enter exactly 13 or 17 characters",
                            maxlength:"Please enter exactly 13 or 17 characters"
                        },
                        brn:{
                            number:"Please enter numbers",
                            exactlength: "Please enter exactly 17 characters"
                        }
                    }
                }
        );

        jQuery("#searchPatientForm").submit();
    });


$('#division').on('change', function () {
    var divisionId = $('option:selected', this).attr('data-id');
    var x = $('#district');

    if(divisionId){
        x.removeAttr('disabled');
    }else{
        x.attr('disabled','disabled');
        $('#upazilla').attr('disabled','disabled');
    }

    if(divisionId){
        x.empty();
        $.ajax({
            type: "POST",
            url: "/location/district/"+divisionId,
            beforeSend: function() { $('.districtloader').show(); },

            success: function (result) {
                var obj = $.parseJSON(result);
                var options = "<option value=''>-Please Select-</option>";

                for (var i in obj) {
                    options += '<option data-id = "' + obj[i]['id'] + '" value="' + obj[i]['code'] + '">' + obj[i]['name'] + '</option>';
                }
                x.append(options);
            },
            complete: function() { $('.districtloader').hide(); }
        });
  }
});

$('#district').on('change', function () {
    var districtId = $('option:selected', this).attr('data-id');
    var x = $('#upazilla');
    if(districtId){
        x.removeAttr('disabled');
    }

    if(districtId){
        x.empty();

        $.ajax({
            type: "POST",
            url: "/location/upazilla/"+districtId,
            beforeSend: function() { $('.upazillaloader').show(); },
            success: function (result) {
                var obj = $.parseJSON(result);
                var options = "<option value=''>-Please Select-</option>";

                for (var i in obj) {
                    options += '<option data-id = "' + obj[i]['id'] + '" value="' + obj[i]['code'] + '">' + obj[i]['name'] + '</option>';
                }
                x.append(options);
            },
            complete: function() { $('.upazillaloader').hide(); }
        });
  }
});

</script>
