/web/bundles/
/web/assets/*
/web/assets
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/*
!/bin/.exclude
!/bin/build.sh
!/bin/deploy.sh
/composer.phar
/.idea
