{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <h3 class="page-header">Dashboard</h3>

        <div>Welcome to the Master Client Index</div>


    </div>
{% endblock %}
