{% macro pendingApprovalConfirmModal() %}
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Awaiting Approval</h4>
                </div>
                <div class="modal-body">
                    <p>If you click on accept,then all other updates will be removed from the list.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary apporval_details_accept">accept</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                </div>
                <div style="display: none" id="hid"></div>
                <div style="display: none" id="fieldName"></div>
                <div style="display: none" id="payload"></div>
                <div style="display: none" id="catchment"></div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endmacro %}
