<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">MCI Administration</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> Account</a></li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
                <li class="divider"></li>
                <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">

            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                        <form id="searchHidForm" name="searchHid"  method="get" action="{{ path('mci_patient_searchpage') }}">
                            <div class="input-group custom-search-form">
                                <input name="hid" type="text" class="form-control hid" placeholder="Enter HID" value="{% if hid is defined %}{{ hid }}{% endif %}" >
                            <span class="input-group-btn">
                            <button id ="searchHidButton" class="btn btn-default" type="button"><i class="fa fa-search"></i></button>

                        </form>
                    </span>

                    </div>
                    <!-- /input-group -->
                  <div id="error-note"></div>
                </li>
                <li><a class="active" href="{{ path('mci_dashboard') }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
                <li>
                    <a href="index.php"><i class="fa fa-dashboard fa-fw"></i> Manage Patients<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="{{ path('mci_patient_searchpage') }}"> Search Patient</a></li>
                        <li><a href="#"> Create Patient</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-dashboard fa-fw"></i> User Management<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="#"> Manage Users</a></li>
                        <li><a href="#"> Manage Roles</a></li>
                        <li><a href="#"> Manage Permissions</a></li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-dashboard fa-fw"></i> Configuration<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="#"> Audit Logs</a></li>
                        <li><a href="#"> Settings</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>

<script type="text/javascript">


    $("#searchHidButton").click(function(){

        $("#searchHidForm").validate(
                {
                    rules: {
                        hid: {
                            required: true,
                            number: true
                        }
                    },
                    messages: {
                        hid: {
                            number: "Invalid hid"
                        }
                    },
                    errorLabelContainer: "#error-note",
                    wrapper: "span"
                }
        );

        $("#searchHidForm").submit();
    });

</script>
