.error{
    color: red;
    font-style: italic;
    font-weight: normal;
}

.inputBoxSize input, .inputBoxSize select {
    width: 60% !important;
}

.form-group {
    margin-bottom: 10px;
}

input.error{
    color: #555 !important;
    font-style: normal;
}

select.error option {
    color: #555;
}

.floatLeft{
    float:left;
}

.clearBtn{
    cursor: pointer;
    font-weight: bold;
    padding: 5px 0 0 5px;
    display: inline-block;
}

#mci_bundle_patientBundle_patients_date_of_birth,#mci_bundle_patientBundle_patients_date_of_death{
    cursor: pointer;
    background: #FFFFFF;
}

.pager li a.disabled {
    background:#EEEEEE;
    pointer-events: none;
    cursor: default;
}

.MT20{
    margin-top: 20px;
}
.MB20{
    margin-bottom: 20px;
}

.highlighted, .highlighted table {
    background-color: #ffff00 !important;
}
#deduplication table{
    background: none;
}

.approval_relation{
    margin-top: 20px;
    margin-bottom: 40px;
}

.radioBtn{
    display: none;
}

#dedupDetailsUI label{
    margin-bottom: 0;
    margin-left: 5px;
}